git+https://github.com/jaybaird/python-bloomfilter/
justext
unidecode
tldextract
requests
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability